.experiencia-detalle-wrapper {
  background-color: #fff;
  text-align: center;
  padding: 30px 40px;
}

.experiencia-detalle-contenido {
  max-width: 1100px;
  margin: 0 auto;
}

.experiencias-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0px auto 20px;
}
